<form class="sign-up" ngNativeValidate (submit)="signUp($event, confirmPasswordRef)">
  <mat-form-field appearance="outline" class="sign-up__input">
    <input matInput [(ngModel)]="name" name="name" placeholder="Name" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="sign-up__input">
    <input matInput [(ngModel)]="username" name="username" placeholder="Username"  required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="sign-up__input">
    <input matInput [(ngModel)]="password" type="password" name="password" type="password" placeholder="Password" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="sign-up__input">
    <input matInput [(ngModel)]="confirmPassword" #confirmPasswordRef type="password" name="passwordConfirm" type="password" placeholder="Confirm Password" required>
  </mat-form-field>
  <button class="sign-up__button" mat-raised-button color="primary">Sign Up</button>
</form>