:host {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

.header {
	&__right {
		margin-left: auto;
	}
}

.app__loader {
    display: flex;
    align-items: center;
    gap: 18px;
    position: fixed;
    right: 2rem;
    bottom: 1.5rem;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.2s linear opacity;

    &--active {
    	height: auto;
    	opacity: 1;
    }
}