<mat-toolbar color="primary" class="header">

  <div class="header__left">
    <span class="header__logo">ImagePress</span>
  </div>

   <div class="header__right">
     <a href="/gallery" mat-button class="header__link">Gallery<mat-icon>favorite</mat-icon></a>
     <a routerLink="/auth" mat-button *ngIf="!isLoggedIn" class="header__link">Sign in<mat-icon>login</mat-icon></a>
     <a href="#" mat-button (click)="signOut($event)" *ngIf="isLoggedIn" class="header__link">Sign Out<mat-icon>login</mat-icon></a>
   </div>

</mat-toolbar>

<router-outlet></router-outlet>
